<style>
  #img {
    position: relative;
    background: url("https://images.pexels.com/photos/40889/light-bulb-current-light-glow-40889.jpeg?cs=srgb&dl=bulb-close-up-crack-40889.jpg&fm=jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 250px 0;
  }
</style>
<div class="jumbotron jumbotron-fluid ">
  <div class="container " id="img">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next YouTube videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
  </div>
</div>

{{!--
<img src="https://images.pexels.com/photos/40889/light-bulb-current-light-glow-40889.jpeg?cs=srgb&dl=bulb-close-up-crack-40889.jpg&fm=jpg"> --}}