<style>
  #text {
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    width: 65%;
  }

  .padding {
    padding: 100px 0;
  }
</style>
<div class='padding'>
  <div class="container">
    <div class="container" id='text'>
      <h1 class="display-3">{{title}}</h1>
      <p class="lead">Jot down ideas for your next project</p>
      <a href="/ideas/add" class="btn btn-dark btn-lg">Add Idea</a>
    </div>
  </div>
</div>

{{!--
<img src="https://images.pexels.com/photos/40889/light-bulb-current-light-glow-40889.jpeg?cs=srgb&dl=bulb-close-up-crack-40889.jpg&fm=jpg"> --}}